@CHARSET "UTF-8";

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 20px;
    
}

table {
    width: 50%;
    border-collapse: collapse;
   
}

th, td {
    border: 1px solid #463a3a;
    text-align: center;
    padding: 8px;
}