@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main { /* Em vez de relative, usar o flexbox para centralizartudo dentro dele
    position: relative;
    height: 100vh;
    background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;/*min-heigth é melhor que heigth fixo*/
    }

section#telefone {/* Não precisa de position, top, left ou transform! 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    height: 627px;
    width: 311px; /* Um tamanho mais real de telefone */
    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: contain;

    /* Para centralizar o Iframe aqui dentro */
    display: flex;
    justify-content: center;
    align-items: center;

}

iframe#tela {
    /*Em vez de position, definir apenas o tamanho da área visível do Iphone*/
    width: 267px;
    height: 471px; /*Substitui o antigo frameborder="0" */
    border: none;
    /* Se quiser boradas arredondadas como as do Iphone*/
    border-radius: 5px;

}